# The following is an example configuration file. The below options are configured with the defaults.
#WP_CLI=/usr/local/bin/wp
#PHP_BIN=/usr/bin/php
#WP_ROOT=""
#CRON_CMD_SETTINGS="$WP_CLI cron event run --due-now"
#HEARTBEAT_URL=""
#POST_CRON_CMD=""
#MONITOR_RUN="0"
#MONITOR_RUN_TIMEOUT=300

#LOG_TO_STDOUT=1
#LOG_TO_SYSLOG=1
#LOG_TO_FILE=0
#LOG_FILE="$SCRIPT_DIR/cron-shim.log"
#LOG_PRUNE_SIZE_MB=10

#WP_CLI_OPCACHE=0
#WP_CLI_OPCACHE_DIR="$SCRIPT_DIR/.opcache"